.leagues
    display: flex
    flex-direction: column
    width: 100vw
    height: 125vh
    position: absolute
    top: 12vh

    .list
        width: 100%
        height: 75%
        display: flex
        flex-direction: column
        justify-content: space-between

        .container
            width: 101%
            height: 18%
            border: solid 1px
            &__img
                width: 15%
            &__item
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-content: center
            p
                display: flex
                flex-direction: column
                justify-content: center
                margin-left: 5%
            .buttons
                display: flex
                flex-direction: row
                align-content: center
                justify-content: space-evenly
                height: 4vh
                width: 100%
                &__deleteleague
                    width: 7rem
                    heigth: 5rem
                    border-radius: .2rem
                    background-color: #f88181
                &__addteamtoleague
                    width: 7rem
                    heigth: 5rem
                    border-radius: .2rem
                    background-color: #cdf1cc

    .buttons
        display: flex
        flex-direction: row
        align-content: center
        justify-content: space-evenly
        height: 4vh
        width: 100%
        .create-league
            display: flex
            flex-direction: row
            justify-content: center
            align-content: center
            height: 4vh
            width: 100%
            margin-top: 10%
            margin-left: 5%
            &__button
                width: 7rem
                heigth: 5rem
                border-radius: .2rem
                background-color: #cdf1cc

        .back-button
            display: flex
            flex-direction: row
            justify-content: center
            align-content: center
            height: 4vh
            width: 100%
            margin-top: 10%
            margin-right: 5%
            &__button
                width: 7rem
                heigth: 5rem
                border-radius: .2rem
                background-color: #f88181
